<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <!-- <div class="logo-container"><img src="https://hannahshiels.github.io/front-end-mentor/fylo-dark-theme-landing-page-master/images/logo.svg" alt="logo-img"></div> -->
        <nav class="nav-bar">
            <ul>
                <li><a href="#">Features</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Sign In</a></li>
            </ul>
        </nav>

    </header>


    <main>
        
        <section class="intro" data-aos="zoom-in">
            <div class="intro-img"> <img src="https://hannahshiels.github.io/front-end-mentor/fylo-dark-theme-landing-page-master/images/illustration-intro.png" alt="illustration-intro"></div>
            <div class="intro-content">
                <h1>Ace your next interview with confidence</h1>

                <!-- <p class="lg-p mt-2">Fylo stores all your most important files in one secure location. Access them wherever you need, share and collaborate with friends family, and co-workers.
                </p> -->
                <a href="#"><button class="btn mt-2"> Get Started</button></a>
                </div>
        </section>

        <section class="products">
            <h1>Our Products</h1>
            <div class="pcontain">
                <div class="text">
                    <h1>Video Analysis</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab explicabo magni eos, nam nihil quam modi impedit expedita accusamus, repudiandae incidunt. Eligendi enim esse quibusdam! Expedita minima dolore delectus provident molestias porro blanditiis dolorum magnam? A, quas? Dignissimos repellat ipsum temporibus quos eaque earum molestiae, minus non? Id, ullam ducimus.</p>
                    
                        <form action="\video" method="post">
                        <button class="btn mt-2"> Get Started</button>
                    </form>
                </div>
                <img src="https://cdn.pixabay.com/photo/2020/12/09/10/34/meeting-5817031_1280.jpg" alt="interview">
            </div>
            <div class="pcontain">
                <img src="https://cdn.pixabay.com/photo/2021/03/26/21/51/video-conference-6127000_1280.jpg" alt="interview">
                <div class="text">
                    <h1>Speech Analysis</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab explicabo magni eos, nam nihil quam modi impedit expedita accusamus, repudiandae incidunt. Eligendi enim esse quibusdam! Expedita minima dolore delectus provident molestias porro blanditiis dolorum magnam? A, quas? Dignissimos repellat ipsum temporibus quos eaque earum molestiae, minus non? Id, ullam ducimus.</p>
                    <form action="\spec" method="post">
                    <a href="speech.html"><button class="btn mt-2"> Get Started</button></a></form>
                </div>
            </div>
            <div class="pcontain">
                <div class="text">
                    <h1>Text Analysis</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab explicabo magni eos, nam nihil quam modi impedit expedita accusamus, repudiandae incidunt. Eligendi enim esse quibusdam! Expedita minima dolore delectus provident molestias porro blanditiis dolorum magnam? A, quas? Dignissimos repellat ipsum temporibus quos eaque earum molestiae, minus non? Id, ullam ducimus.</p>
                    <a href="#"><button class="btn mt-2"> Get Started</button></a>
                </div>
                <img src="https://cdn.pixabay.com/photo/2018/09/21/13/11/checklist-3693113_1280.jpg" alt="interview">
            </div>
        </section>
       
        
        <section class="emotionsense">
            <h1>Emotion Sense</h1>
            
                <textarea rows="6" cols="100" style="background-color: rgb(49, 49, 70); color: white; border: none; border-radius: 5px; padding: 10px; font-size: 18px;">
                </textarea>
           
            
        </section>
        <section class="features" data-aos="fade-up"
        data-aos-anchor-placement="center-bottom">

            <div class="features-item">
                <div class="features-item-head"> <img src="https://hannahshiels.github.io/front-end-mentor/fylo-dark-theme-landing-page-master/images/icon-access-anywhere.svg" alt=""> </div>
                <div class="features-item-body  mt-2">
                    <h3>Access your files, anywhere</h3>

                    <p>The ability to use a smartphone, tablet, or computer to access your account means your files follow you everywhere.</p>
                </div>
            </div>

            <div class="features-item">
                <div class="features-item-head"> <img src="https://hannahshiels.github.io/front-end-mentor/fylo-dark-theme-landing-page-master/images/icon-security.svg" alt=""> </div>
                <div class="features-item-body mt-2">
                    <h3> Security you can trust</h3>
                    <p> 2-factor authentication and user-controlled encryption are just a couple of the security features we allow to help secure your files.</p>
                </div>

            </div>
            <div class="features-item">
                <div class="features-item-head"> <img src="https://hannahshiels.github.io/front-end-mentor/fylo-dark-theme-landing-page-master/images/icon-collaboration.svg" alt=""> </div>
                <div class="features-item-body  mt-2">
                    <h3> Real-time collaboration</h3>
                    <p> Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.</p>
                </div>

            </div>
            <div class="features-item">
                <div class="features-item-head"> <img src="https://hannahshiels.github.io/front-end-mentor/fylo-dark-theme-landing-page-master/images/icon-any-file.svg" alt=""> </div>
                <div class="features-item-body  mt-2">
                    <h3> Store any type of file</h3>
                    <p> Whether you're sharing holidays photos or work documents, Fylo has you covered allowing for all file types to be securely stored and shared.</p>
                </div>
            </div>
        </section>
        <section class="productive"  data-aos="fade-right">
            <div class="productive-img"> <img src="https://hannahshiels.github.io/front-end-mentor/fylo-dark-theme-landing-page-master/images/illustration-stay-productive.png" alt=""> </div>

            <div class="productive-content">

                <h2>Stay productive, wherever you are</h2>

                <p class="lg-p"> Never let location be an issue when accessing your files. Fylo has you covered for all of your file storage needs. </p>

                <p class="lg-p"> Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.
                </p>
                <p class="lg-p"> <a class="content-link" href="#">See how Fylo works <i class="fas fa-arrow-alt-circle-right"></i></a> </p>
            </div>
        </section>

        <section class="cta" data-aos="fade-up">

            <div class="cta-item">
                <div class="cta-text">
                    <h2>Get early access today </h2>
                    <p>It only takes a minute to sign up and our free starter tier is extremely generous. If you have any questions, our support team would be happy to help you.</p>
                </div>
                <form class="cta-form mt-2" action="">
                    <input class="input-block" type="text" placeholder="example@email.com"> <button class="btn-block">Get Started For Free</button> </form>
            </div>
        </section>
    </main>
    <footer>
        <section class="contact-info">

            <div class="contact-info-logo"> <img src="https://hannahshiels.github.io/front-end-mentor/fylo-dark-theme-landing-page-master/images/logo.svg" alt=""> </div>
            <div class="contact-info-location">
                <div class="contact-info-location-item">
                    <img class="img-footer" src="https://hannahshiels.github.io/front-end-mentor/fylo-dark-theme-landing-page-master/images/icon-location.svg" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                </div>
            </div>
            <div class="contact-info-contacts">
                <div class="contact-info-contacts-item">
                    <img class="img-footer" src="https://hannahshiels.github.io/front-end-mentor/fylo-dark-theme-landing-page-master/images/icon-phone.svg" alt="">
                    <p>+1-543-123-4567</p>
                </div>
                <div class="contact-info-contacts-item ">

                    <img class="img-footer" src="https://hannahshiels.github.io/front-end-mentor/fylo-dark-theme-landing-page-master/images/icon-email.svg" alt="">
                    <p>example@fylo.com</p>
                </div>

            </div>
            <nav class="contact-info-links">
                <ul class="contact-info-links-list">
                    <li> <a href="#">About Us</a> </li>
                    <li> <a href="#">Jobs</a> </li>
                    <li> <a href="#">Press</a> </li>
                    <li> <a href="#">Blog</a> </li>
                </ul>
                <ul class="contact-info-links-list">
                    <li> <a href="#">Contact Us</a> </li>
                    <li> <a href="#">Terms</a> </li>
                    <li> <a href="#">Privacy</a> </li>
                </ul>
            </nav>
            <div class="contact-info-social-links">
                <a class="icon-link" href="#">
                    <div class="contact-info-social-link-item flex-center"> <i class="fa fa-facebook"></i></div>
                </a>
                <a class="icon-link" href="#">
                    <div class="contact-info-social-link-item flex-center"> <i class="fab fa-twitter"></i></div>
                </a>
                <a class="icon-link" href="#">
                    <div class="contact-info-social-link-item flex-center"> <i class="fab fa-instagram"></i> </div>
                </a>
            </div>
            <div class="attribution-container">
                <p class="attribution">
                    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. Coded by <a href="https://codepen.io/devhannah">Hannah</a>.
                </p>
            </div>


        </section>


    </footer>
    <script src="https://unpkg.com/aos@next/dist/aos.js">
        navigator.mediaDevices.getUserMedia({ video: true })
  .then(function(stream) {
    document.getElementById('video').srcObject = stream;
  });
    </script>
  <script>
    AOS.init();
  </script>
  <script type="text/javascript">
    (function(d, m){
        var kommunicateSettings = 
            {"appId":"37bcabe4faf47264934391098998d7d57","popupWidget":true,"automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
/* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
</script>
</body>
</html>