<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech Analysis</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <main>
        <div class="speechtest">
            <h1>Interview Readiness Evaluation: Analyze Your Speech for Success</h1>
            <form action="#" method="post" enctype="multipart/form-data">
                <div style="display: flex; align-items: center;">
                  <input type="file" name="myFile" style="flex-grow: 1;">
                  <input type="submit" value="Upload">
                </div>
              </form>
            <form action="/txtyes" method="post">
                <button class="btn mt-2">Submit</button></div>
            </form>
            </div>
        
    </main>
    
</body>
</html>